@import url("../../styles/components.css");

:root {
  --checkbox-mobile: 1.25rem;
  --checkbox-desktop: 1.5rem;
}

.task * {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: var(--clr-very-dark-grayish-blue);
  transition: all 300ms ease;
}

.task {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--checkbox-mobile);
  height: var(--checkbox-mobile);
  border-radius: var(--checkbox-mobile);
  background: var(--clr-very-light-grayish-blue);
  border: 1px solid var(--clr-very-light-grayish-blue);
  border: none;
}
.checkbox-bg {
  background: var(--gradient);
}
.check--checked {
  width: 0.7rem;
  height: 0.575rem;
}
.check--unchecked {
  background: var(--clr-white);
  border-radius: calc(var(--checkbox-mobile) - 2px);
  border: 1px solid var(--clr-very-light-grayish-blue);
}
.checkbox:focus-within {
  border: 2px solid var(--clr-primary);
}

.description {
  background: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  caret-color: var(--clr-primary);
}
.description:focus {
  color: var(--clr-primary);
}
.text--checked {
  color: var(--clr-light-grayish-blue);
  text-decoration: line-through;
}

.delete {
  background: none;
  border: none;
  height: var(--checkbox-mobile);
  width: var(--checkbox-mobile);
  border-radius: var(--checkbox-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  height: 1rem;
  width: 1rem;
  fill: red;
}

.save-btn {
  height: var(--checkbox-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary);
  font-weight: 700;
  border: 1px solid var(--clr-primary);
  background: none;
  border-radius: calc(var(--checkbox-mobile) / 2);
  text-transform: uppercase;
}
.save-btn:hover {
  color: #fff;
  background: var(--clr-primary);
}

.delete-glow {
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media only screen and (min-width: 500px) {
  .task * {
    font-size: 18px;
  }

  .checkbox {
    width: var(--checkbox-desktop);
    height: var(--checkbox-desktop);
  }

  .check--checked {
    width: 0.7rem;
    height: 0.575rem;
  }

  .delete {
    height: var(--checkbox-desktop);
    width: var(--checkbox-desktop);
  }
  .delete-icon {
    height: var(--checkbox-mobile);
    width: var(--checkbox-mobile);
  }

  .save-btn {
    height: var(--checkbox-desktop);
  }
}
