.btn {
  color: greenyellow;
}

.btn-active {
  color: red;
  font-weight: bold;
}

.btn-secondary {
  border: 1px solid red;
}

.btn--normal {
  padding: 0.5rem 1rem;
}
.btn--small {
  padding: 0.25rem 0.5em;
}
