@import url("../components.css");

.btn {
  color: var(--clr-dark-grayish-blue);
  background: none;
  border: none;
}

.btn:hover {
  color: var(--clr-primary);
}

.btn--active {
  font-weight: 900;
  color: var(--clr-primary);
}
.btn--active:hover {
  color: var(--clr-primary);
}

.btn--small {
  font-weight: 400;
  font-size: 0.75rem;
}
.btn--normal {
  font-weight: 700;
  font-size: 0.875rem;
}

.btn--loading {
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: var(--clr-dark-grayish-blue);
  }

  50% {
    color: var(--clr-accent);
  }

  100% {
    color: var(--clr-dark-grayish-blue);
  }
}
