:root {
  --clr-primary: hsl(220, 98%, 61%);
  --clr-accent: hsl(280, 87%, 65%);
  --gradient: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-very-light-grayish-blue: hsl(236, 33%, 92%);
  --clr-light-grayish-blue: hsl(233, 11%, 84%);
  --clr-dark-grayish-blue: hsl(236, 9%, 61%);
  --clr-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --clr-add-task: hsla(235, 14%, 26%, 1);

  --disabled: #959495;

  --font-family: Josefin Sans, Verdana, Geneva, Tahoma, sans-serif;

  --shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  --border-radius: 0.3125rem;
}

* {
  margin: 0;
  font-family: var(--font-family);
}
