@import url("../components.css");

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: var(--clr-dark-grayish-blue);
}

.overview-filterbar {
  display: none;
}

@media only screen and (min-width: 450px) {
  .overview-filterbar {
    display: block;
  }
}
