@import url("../components.css");

.overview {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: var(--clr-dark-grayish-blue);
}
