@import url("../../styles/components.css");

#login * {
  box-sizing: border-box;
}

#login {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--clr-very-light-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: var(--clr-white);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  box-shadow: var(--shadow);
  width: 100%;
}

.login-input {
  display: flex;
  color: var(--clr-dark-grayish-blue);
  flex-direction: column;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  gap: 0.15rem;
}

.login-input input::placeholder {
  color: var(--clr-light-grayish-blue);
}
.login-input input:focus {
  color: var(--clr-primary);
}

.login-input input {
  border: none;
  background: var(--clr-very-light-gray);
  border-radius: 0.25rem;
  line-height: 2rem;
  text-indent: 0.5rem;
}

.login-btn {
  border-radius: 0.25rem;
  color: var(--clr-primary);
  border: none;
  line-height: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  background: var(--clr-white);
  border: 1px solid var(--clr-primary);
}
.login-btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary);
}

.error {
  border-radius: 0.625rem;
  border: 2px solid #dd4c4f;
  color: #dd4c4f;
  padding: 1rem;
}

.loading {
  color: var(--clr-white);
  background: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media only screen and (min-width: 400px) {
  .login-card {
    max-width: 400px;
  }
}
