@import url("./components/components.css");

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 3rem 1.5rem;
}

header {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.bg-picture {
  background-image: url("./images/bg-mobile-light.jpg");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.text--title {
  color: white;
  font-weight: 900;
  font-size: 1.6875rem;
  letter-spacing: calc(0.5rem);
}

.card {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.addTaskBar {
  padding: 0.875rem 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 500px) {
  .bg-picture {
    background-image: url("./images/bg-desktop-light.jpg");
  }
}
