@import url("../../styles/components.css");

.Tasklist {
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
}

.loader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader-item {
  height: 1.5rem;
  flex-grow: 1;
  background: var(--clr-very-light-grayish-blue);
  display: flex;
  border-radius: 0.5rem;
  margin: 0.5rem 0.5rem;
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.task {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid var(--clr-very-light-grayish-blue);
}
